@charset "UTF-8";

.Conteiner{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

div#main{
	width: 100vw;
	height: 100vh;
	left: 0vw;
	top: 0vh;
	background-color: gray;
	position: fixed;
	
	flex-flow: row wrap;
	align-content: flex-start;
}

div#header{
	width: 100vw;
	height: 50px;
	background-color: #2E2E2E;
	justify-content: space-between;
	flex-flow: row wrap;
}

.headerElement{
	background-color: #2E2E2E;
}

.inputElement{
	margin: 8px;
}

div#homeButton{
	background-color: #8A0808;
	color: white;
	width: 40px;
}

img#imgHome{
	width: 40px;
	height: 50px;
}


input#download{
	color: white;
	background-color: #642EFE;
	text-align: center;
	border: none;
}

.sessionButtonsElement{
	width: 80px;
	margin: 8px;
	text-align: center;
	color: white;
	border: none;
}


input#login{
	background-color: #555555;
}

input#signin{
	background-color: #4CAF50;
}

div#musicSelector{
	top: 50px;
	left: 60px;
	
	height: 25vh;
	width: 500px;
	
	background-color: white;
	border: 4px solid #2E2E2E;
	overflow-y: scroll;
	overflow-x: scroll;
	position: fixed;	
}

label.musicSelectorLabel:hover{
	background-color: #BDBDBD;
}

input#searchBar{
	width: 500px;
}

div#musicView{
	flex: 1 1 70%;
	flex-flow: column;
	height: 100vh;
	background-color: #151515;
}

div.musicViewElement{
	margin: 5px;
	padding: 5px;
}


div#songName{
	background-color: white;
	border: 4px solid #2E2E2E;
	margin-top: 0px;
}

div#musicBar{
	background-color: #B43104;
	margin-top: 0px;
	margin-bottom: 0px;
	flex-direction: row;
}

div#musicInfo{
	background-color: white;
	border: 4px solid #2E2E2E;
	height: 70vh;
	margin-bottom: 0px;
	align-items: center;
	justify-content: space-around;
}

div.musicInfoElement{
	padding: 5px;
	margin: 10px;
	width: 20%;
	height: 40%;
	background-color: #D7DF01;
}

div#musicList{
	flex:1 1 30%;
	height: 100;
	background-color: #088A08;
	flex-direction: column;
	justify-content: flex-start;
}

div.musicListElement{
	height: 40vh;
	padding: 5px;
	margin: 10px;
	background-color: white;
}

.overlay{
	background: rgb(0,0,0,.3);
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	z-index: -1;	
}

div#loginPopup{
	background-color: white;
	width: 30vw;
	flex-direction: column;
	align-items: center;
}

.loginPopupElement{
	margin: 8px;
}

div#inputLoginPopup{
	flex-direction: column;
	align-items: center;
}

.inputLoginPopupElement{
	margin: 8px;
}

div#errorLoginPopup{
	color: red;
	font-size: small;
	background-color: white;
	border: 2px solid red;
	width: 200px;
	word-wrap: break-word;
}





