@charset "UTF-8";

*{
	font-family: sans-serif;
	
}

.Conteiner{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

div#main{
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #2E2E2E;
	align-items: center;
	justify-content: center;
	position: fixed;
}

.mainElement {
	border-radius: 5%;
	height: 90%;
	width: 40%;
	background-color: white;
	flex-direction: column;
	align-items: center;
}

div#lyrics {
	background-color: orange;
	margin: 10px;
	padding: 10px;
	width: 90%;
	height: 90%;
	flex-flow: row;
	justify-content: space-around;
}

.lyricsElement{
	height: 97%;
	width: 45%;
	border: 4px solid navy;
	background-color: white;
	overflow-y: scroll; 
}